altgraph==0.17.4
autoflake==2.3.1
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
docopt==0.6.2
idna==3.10
Js2Py==0.74
Naked==0.1.32
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
pipreqs==0.4.13
py-mini-racer==0.6.0
pyasynchat==1.0.4
pyasyncore==1.0.4
pycryptodome==3.21.0
PyExecJS==1.5.1
pyflakes==3.2.0
pyftpdlib==2.0.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pyjsparser==2.7.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pystray==0.19.5
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.2
requests==2.32.3
setuptools==75.8.0
shellescape==3.8.1
six==1.17.0
toml==0.10.2
tomlkit==0.13.2
tqdm==4.67.1
tzdata==2025.1
tzlocal==5.3
urllib3==2.3.0
watchdog==6.0.0
websockets==15.0
yarg==0.1.10
psutil=7.0.0